{
  "SESSION_SECRET": "007 James Bond",
  "MONGODB_URI": "mongodb://localhost/canvasrun",
  "AUTH": {
    "FACEBOOK": {
      "APP_ID": "App ID",
      "APP_SECRET": "App Secret",
      "CALLBACK_URL": "http://localhost:8080/auth/facebook/callback"
    },
    "TWITTER": {
      "CONSUMER_KEY": "Consumer Key",
      "CONSUMER_SECRET": "Consumer Secret",
      "CALLBACK_URL": "http://localhost:8080/auth/twitter/callback"
    }
  }
}
