@headerHeight: 40px;
@splitterSize: 13px;

@panelBg: hsl(0, 0%, 50%);
@panelContent: hsl(0, 0%, 95%);
@buttonBg: transparent;
@buttonContent: hsl(0, 0%, 90%);
@buttonHoverContent: hsl(0, 0%, 100%);
@buttonHoverAccent1: hsl(15, 100%, 60%);
@buttonHoverAccent2: hsl(45, 100%, 60%);
@buttonHoverAccent3: hsl(70, 100%, 60%);

@splitterHandleBg: hsla(0, 0%, 50%, 50%);

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}
header {
  height: @headerHeight;
  background: @panelBg;
  color: @panelContent;

  h1 {
    display: inline;
    margin: 0;
    padding-left: 15px;
    padding-right: @headerHeight;
    height: @headerHeight;
    line-height: @headerHeight;
    font-size: 1em;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: hsl(0, 0%, 100%);
      }
    }
  }

  button {
    margin: 0;
    padding: 0 5px;
    border: none;
    height: @headerHeight;
    line-height: @headerHeight;
    font-size: 0.75em;
    cursor: pointer;
    margin-right: 4px;
    transition: background 100ms;
    background: @buttonBg;
    color: @buttonContent;
    position: relative;
    overflow: hidden;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;

    &:after {
      content: '';
      position: absolute;
      left: 5px;
      right: 5px;
      height: 3px;
      border-radius: 1.5px;
      bottom: -3px;
      transition: bottom 100ms;
    }

    &:hover {
      color: @buttonHoverContent;

      &:after {
        bottom: 6px;
      }
    }

    &:active {
      &:after {
        bottom: 8px;
      }
    }

    &:focus {
      outline: none;
    }

    &.-accent-1:after { background: @buttonHoverAccent1; }
    &.-accent-2:after { background: @buttonHoverAccent2; }
    &.-accent-3:after { background: @buttonHoverAccent3; }
  }
}
main {
  position: absolute;
  top: @headerHeight;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
#editor-pane {
  flex-basis: 50%;
}
#splitter {
  position: relative;
  z-index: 10;
  flex: 0 0 @splitterSize;
  background: @panelBg;
  height: @splitterSize;

  #splitter-handle {
    position: absolute;
    height: @splitterSize;
    background: @splitterHandleBg;
    left: 0;
    right: 0;
    cursor: ns-resize;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    &:after {
      content: '';
      position: absolute;
      left: 5px;
      right: 5px;
      height: 3px;
      border-radius: 1.5px;
    }

    &:hover {
      &:after {
        background: @buttonHoverAccent3;
      }
    }
  }
}
#output-pane {
  padding: 1px;
  box-sizing: border-box;
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;

  #canvas-wrapper {
    flex: 1;

    canvas {
      position: absolute;
      background: #000;
    }
  }
}
#error {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background: rgba(255, 255, 255, .75);
  padding: 1em;
  z-index: 2;
  display: none;
  overflow: auto;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  font-size: .75em;

  &:after {
    position: absolute;
    font-size: 40em;
    left: 50%;
    margin-left: -20em;
    top: 50%;
    margin-top: -20em;
    text-align: center;
    width: 40em;
    height: 40em;
    line-height: 40em;
    content: '\26a0';
    color: red;
    opacity: 0.25;
  }
  &.-visible {
    display: block;
  }
}

/* Layout */

main.-horizontal-split {
  flex-direction: row;

  #splitter {
    height: auto;
    width: @splitterSize;

    #splitter-handle {
      height: auto;
      width: @splitterSize;
      top: 0;
      bottom: 0;
      cursor: ew-resize;
      flex-direction: column;

      &:after {
        left: auto;
        right: auto;
        height: auto;
        top: 5px;
        bottom: 5px;
        width: 3px;
      }
    }
  }
}
